footer {
  background: linear-gradient(to right, #1890a5, #f0f0f0);
  box-shadow: -2px -2px 20px #1e3013;
  /*background: linear-gradient(to right, #338942, #9fd8e2);*/
  color: white;
  font-family: "Passero One", cursive;
  letter-spacing: 1px;
  min-height: 7vh;
  width: 100%;
  padding: 0% 5%;
  position: absolute;
  bottom: 0;
  border-bottom: 5px solid #5a883d;
  @include flex(flex-start, center, row);
  flex-wrap: wrap;
  ul {
    flex: 1 1 40rem;
    @include flex(space-around, center, row);
    flex-wrap: wrap;
  }
  h4 {
    flex: 1 1 40rem;
    text-shadow: 1px 1px 1px #000000;
  }
  a,
  li {
    letter-spacing: 0;
    /*color: #1890a5;*/
    color: #ffffff;
    text-shadow: 1px 1px 1px #11658bbe;
    font-family: "Passero One", cursive;
  }

  a:hover {
    color: white;
    text-shadow: 2px 1px 1px #1890a5;
  }

  img {
    background-color: white;
    border-radius: 25%;
    height: 5vh;
    width: auto;
    border: 2px solid #1890a5;
    vertical-align: middle;
  }

  img:hover {
    box-shadow: 2px 1px 1px #1890a5;
  }
}
