.header {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header a img {
  flex: 2 1 20rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

.header h1 {
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  padding: 4.5rem;
  text-align: center;
  font-size: 5rem;
  color: rgb(24, 144, 165);
  text-shadow: 2px 2px 2px white;
  transition: font-size 1s;
  background: url("../img/");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.header h2 {
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  font-size: 4.6rem;
  color: rgb(24, 144, 165);
  text-shadow: 2px 2px 2px white;
}
