#kiallitas-main {
  width: 100%;
  height: auto;
  background-position: left;
}

#kiallitas-footer {
  position: relative;
  bottom: 0;
}

.kiallitas-content {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 2rem 1rem;
  /*;background-color: rgba(255, 255, 255, 0.37);*/
  background: linear-gradient(to bottom, #1890a538, #ffffffc2);
  border-radius: 3%;
}

.kiallitas-content p {
  font-size: 1.6rem;
  padding: 1rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
}

.img-right {
  position: relative;
  width: 50%;
  height: auto;
  float: right;
  padding: 1vw;
}

.img-left {
  position: relative;
  width: 50%;
  height: auto;
  float: left;
  padding: 1vw;
}

.kiallitas-meta {
  padding: 3rem;
  font-size: 1.8rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
}

.kiallitas-cím {
  text-align: right;
  padding: 3rem;
  font-size: 1.8rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
}
