.mesehosok-header {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.mesehosok-header a img {
  flex: 2 1 20rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

.mesehosok-header h1 {
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  padding: 4.5rem;
  text-align: center;
  font-size: 4.8rem;
  color: rgb(24, 144, 165);
  text-shadow: 1px 1px 1px #cc3736;
  transition: font-size 1s;
  background: url("../img/felho.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.mesehosok-header h2 {
  flex: 1 1 40rem;
  font-family: "Teko", sans-serif;
  font-size: 4.5rem;
  letter-spacing: 1px;
  font-weight: bolder;
  color: rgb(24, 144, 165);
  text-shadow: 0.5px 0.5px 0.5px #ffffff;
}

.mesehosok-info {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.kocka {
  display: flex;
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  background-color: burlywood;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  transition: 1s ease-in-out;
  border-radius: 25%;
  border: 1px solid #1890a5;
  text-shadow: -1px 0 #1890a5, 0 1.5px #1890a5, 1px 0 #1890a5, 0 -1.5px #1890a5;
}

.kocka:hover {
  width: 22rem;
  height: 22rem;
  color: #1890a5;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

.retromesek {
  background: url("../img/felhő1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  font-size: 2.5rem;
  color: #1890a5;
  text-shadow: none;
}

.retromesek:hover {
  color: #cc3736;
}

.tvmaci {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/tvmacif.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.mirrmurr {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/mirrmurrf.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ugrifules {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/ufrifulesf.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.misimokus {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/misimokusf.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.fokyotto {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/misimokusf.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.pompom {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/gombocartur.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.csukasistvan {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/csukasistvan.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.sajdikferenc {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/sajdikferenc.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.benedekelek {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/benedekelek.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}
