* {
  margin: 0px;
  padding: 0px;
  font: 16px "Source Sans Pro", sans-serif;
  border: none;
  box-sizing: border-box;
}

html {
  display: table;
  font-size: 62.5%;
}

body {
  display: table-cell;
  vertical-align: middle;
}

#tvmacikvizheader {
  width: 100%;
  height: 20vh;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#tvmacikvizheader a img {
  flex: 1 1 10rem;
  margin: auto;
  height: 12vh;
  width: auto;
}

#quiz {
  margin: -44px 50px 0px;
  position: relative;
  width: calc(100% - 100px);
}

#tv-maci-cim {
  font-size: 8rem;
  color: rgb(24, 144, 165);
  font-family: "Passero One", cursive;
  text-shadow: 1px 1px 1px #cc3736;
}

#tvmaci-bev {
  font-size: 2rem;
  color: rgb(15, 76, 87);
  font-family: "Montserrat", sans-serif;
  margin: 3rem auto;
}

.tvmacitipp {
  animation: img-shake 3s ease infinite alternate;
  transform-origin: bottom;
}

#quiz h1 {
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 44px;
  margin: 1rem;
  font-family: "Passero One", cursive;
  color: rgb(24, 144, 165);
  text-shadow: 1px 1px 1px #cc3736;
}

#quiz button {
  float: right;
  margin: 10px 0px 0px 10px;
  padding: 8px 15px;
  background: #9acfcc;
  color: #00403c;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 9999px;
}

#quiz button:hover {
  background: #36a39c;
  color: #fff;
}

#quiz button:disabled {
  opacity: 0.5;
  background: #9acfcc;
  color: #00403c;
  cursor: default;
}

#question {
  padding: 2rem;
  background: #fafafa;
  box-shadow: 1px 1px 5px #1890a5;
}

#question h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 2rem;
  color: #1890a5;
  font-family: "Montserrat", sans-serif;
}

#question input[type="radio"] {
  display: none;
}

#question label {
  display: inline-block;
  margin: 4px;
  padding: 8px;
  background: #c9e9f2;
  color: #07276b;
  width: calc(50% - 8px);
  min-width: 100px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border-radius: 9999px;
  font-size: 2rem;
}

#question label:hover {
  background: #4ba1b1;
  color: white;
}

#question input[type="radio"]:checked + label {
  background: #4176ba;
  color: #fafafa;
}

#tvm-quiz-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 44px;
  left: 0px;
  background: #c9e9f2;
  width: 100%;
  height: calc(100% - 44px);
  box-shadow: 10px 10px 10px #31706c;
  border: 3px solid #188785;
}

#tvm-quiz-results-message {
  display: block;
  color: #188785;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}

#tvm-quiz-results-score {
  display: block;
  color: #188785;
  font-size: 2rem;
}

#tvm-quiz-results-score b {
  color: #188785;
  font-weight: 600;
  font-size: 2rem;
}

#again-question-button a {
  color: #00403c;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0;
}

#again-question-button a:hover {
  color: white;
}
