$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "intro";
@import "footer";
@import "nav";
@import "kiallitas";
@import "mesehosok";
@import "jatek";
@import "tvmacikviz";
@import "gombocarturkviz";
@import "mirrmurrkviz";
@import "ugrifules";
@import "misimokuskviz";
@import "rolunk";
@import "tvmacitablo";
@import "mirrmurrtablo";
@import "ugrifulestablo";
@import "misimokustablo";
@import "gombocarturtablo";
@import "tvmaci_jutalom";
@import "mirrmurr_jutalom";
@import "ugrifuleskviz";
@import "ugrifules_jutalom";

@media screen and (max-width: 1382px) {
  .nav-content {
    width: 95vw;
    margin: 3.5rem auto;
  }
}

@media screen and (max-width: 1234px) {
  .card img {
    height: 40vh;
  }

  .nav-title {
    font-size: 4rem;
  }

  .nav-title:hover {
    font-size: 4.5rem;
  }

  .header h2 {
    text-align: center;
    padding: 2rem;
  }
}

@media screen and (max-width: 1080px) {
  footer {
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;
  }

  footer a,
  li {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1014px) {
  main {
    height: auto;
    width: 100%;
  }

  .nav-content {
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
  }

  footer {
    position: relative;
    bottom: 0;
  }
}

@media screen and (max-width: 650px) {
  .header h1 {
    background-size: 75%;
  }

  footer a,
  li {
    color: #0d606b;
    text-shadow: 1px 1px 1px #f7f7f7be;
  }
}

@media screen and (max-width: 612px) {
  #logo {
    padding-top: 2vh;
  }

  .header h1 {
    background-size: 70%;
  }
}

@media screen and (max-width: 467px) {
  .header a img {
    height: 10vh;
    flex: 1 1 5rem;
    margin: 0 2rem;
  }

  .header h1 {
    flex: 1 1 10rem;
    font-size: 2.8rem;
    padding: 2rem;
    background: url("../img/felhő1.png");
    background-size: 78%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header h2 {
    font-size: 2.8rem;
    text-shadow: 1px 1px 1px white;
    padding: 1rem;
  }

  .nav-title {
    font-size: 3.8rem;
  }

  .nav-title:hover {
    font-size: 4rem;
  }

  footer h4 {
    font-size: 1.8rem;
    padding: 0.5rem 0;
  }

  footer a,
  li {
    font-size: 1.8rem;
  }

  footer li {
    padding: 0.5vh;
  }

  /* Kiallitas aloldal */

  .kiallitas-content {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 1rem 1rem;
    /*;background-color: rgba(255, 255, 255, 0.37);*/
    background: linear-gradient(to bottom, #1890a538, #ffffffc2);
    border-radius: 0%;
  }

  .kiallitas-content p {
    font-size: 1.6rem;
    padding: 0.5rem;
  }

  .kiallitas-meta {
    font-size: 1.2rem;
    font-variant: small-caps;
    font-weight: normal;
    padding: 1.5rem;
  }

  .kiallitas-cím {
    text-align: right;
    font-size: 1.4rem;
    padding: 1.5rem;
  }

  .img-right {
    position: relative;
    width: 100%;
    height: auto;
    float: none;
    margin: auto;
  }

  .img-left {
    position: relative;
    width: 100%;
    height: auto;
    float: none;
    margin: auto;
  }

  strong {
    font-size: 1.2rem;
  }

  /* JÁTÉK  bevezető aloldal */

  .bevezeto {
    width: 85%;
    margin: auto;
    font-size: 1.8rem;
    padding-top: 2rem;
    line-height: 1.2;
  }

  .jatek-bev-content {
    width: 90vw;
    margin: auto;
    justify-content: space-around;
  }

  .cardj img {
    height: 20vh;
    width: auto;
    /*animation: img-shake 1.5s ease-in-out 0.5s infinite,
        img-shake 2.5s infinite ease alternate-reverse 2s;*/
    animation: img-shake 3s ease infinite alternate;
    transform-origin: bottom;
    padding-bottom: 0rem;
  }

  .utasitas {
    font-size: 1.6rem;
    padding-bottom: 3rem;
    font-weight: 600;
  }

  /* Rólunk bevezető aloldal */

  #rolunk-main {
    background-position: center;
  }

  #rolunk-content {
    border-radius: 0%;
  }

  .rolunk-header {
    justify-content: space-between;
  }

  .rolunk-header a img {
    flex: 1 1 5rem;
    margin: 0rem 2rem;
    height: 10vh;
    width: auto;
  }

  .rolunk-header h1 {
    flex: 1 1 10rem;
    padding: 2rem;
    text-align: center;
    font-size: 2.8rem;
    background: url("../img/felhő1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .rolunk-header h2 {
    flex: 1 1 30rem;
    font-family: "Passero One", cursive;
    font-size: 2.4rem;
    padding: 2rem;
    text-align: center;
  }

  .mata-img {
    width: 100%;
  }

  #rolunk-szerzo {
    font-size: 1.6rem;
  }

  /* Mesehősök és alkotóik */
  .mesehosok-header a img {
    height: 10vh;
    flex: 1 1 5rem;
    margin: 0 2rem;
  }

  .mesehosok-header h1 {
    flex: 1 1 10rem;
    font-size: 2.8rem;
    margin-top: 1rem;
    padding: 2rem;
    background: url("../img/felhő1.png");
    background-size: 78%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .mesehosok-header h2 {
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px white;
    padding: 1rem;
  }

  .retromesek {
    height: 15rem;
  }

  .retromesek:hover {
    height: 18rem;
  }

  /* Tv Maci kvíz */

  #tvmacikvizheader {
    width: 100%;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }

  #tvmaci-logo {
    height: 10vh;
    width: auto;
  }

  #tvmacikvizheader a img {
    margin: auto;
    height: 11vh;
  }

  #tvmaci-logoimg {
    height: 9vh;
    width: auto;
  }

  #tv-maci-cim {
    font-size: 3.4rem;
  }

  #tvmaci-bev {
    font-size: 1.6rem;
    line-height: 1.5;
    width: 95%;
  }

  #quiz {
    width: 90%;
    margin: auto;
  }

  #question h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  #question label {
    margin: 4px;
    padding: 9px;
    width: calc(50% - 8px);
    min-width: 100px;
    border-radius: 9999px;
    font-size: 1.5rem;
  }

  #quiz button {
    display: block;
    float: none;
    margin: 1.5rem auto;
    padding: 10px 15px;
  }

  #prev-question-button {
    margin-bottom: 2rem;
  }

  #tvm-quiz-results {
    height: 80%;
  }

  #quiz-results {
    height: 80%;
  }

  #tvmaci-footer {
    position: absolute;
    bottom: 0px;
  }

  /* A legkisebb ugrifüles kvíz */

  #ugrifuleskvizheader {
    width: 100%;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem auto;
  }

  #ugrifuleskvizheader a img {
    margin: auto;
    height: 10vh;
  }

  #ugrifules-cim {
    word-wrap: break-word;
    width: 13rem;
    font-size: 3.2rem;
  }

  /* TV Maci tabló */

  #tvmaci-tablo-main {
    background-position: center;
  }

  .tvmaci-tablo-header {
    width: 90%;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
  }

  .tvmaci-tablo-header a img {
    margin: auto;
    height: 11vh;
  }

  #tvmaci-logoimg {
    height: 9vh;
    width: auto;
  }

  .tvmaci-tablo-header h1 {
    flex: 1 1 5rem;
    font-size: 2.8rem;
    padding: 2.5rem;
    background: url("../img/felhő1.png");
    background-size: 76%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .tvmaci-tablo-header h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  .tvmaci-tablo-text {
    border-radius: 0;
    font-size: 1.8rem;
  }

  .tvmaci-visszbtn {
    width: calc(60% - 10px);
    margin-top: 2rem;
  }

  #tvmaci-tablo-footer {
    position: relative;
  }

  /* Gombóc Artúr kvíz */

  #gombocartur-kviz-footer {
    position: relative;
  }

  #mirrmurr-kviz-footer {
    position: relative;
  }

  #ugrifules-kviz-footer {
    position: relative;
  }

  /* Mirr-Murr tabló */

  #mirrmurr-tablo-main {
    background-position: center;
  }

  .mirrmurr-tablo-header {
    width: 90%;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
  }

  .mirrmurr-tablo-header a img {
    margin: auto;
    height: 11vh;
  }

  #mirrmurr-logoimg {
    height: 9vh;
    width: auto;
  }

  .mirrmurr-tablo-header h1 {
    flex: 1 1 5rem;
    font-size: 2.8rem;
    padding: 2.5rem;
    background: url("../img/felhő1.png");
    background-size: 76%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .mirrmurr-tablo-header h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  .mirrmurr-tablo-text {
    border-radius: 0;
    font-size: 1.8rem;
  }

  .mirrmurr-visszbtn {
    width: calc(60% - 10px);
    margin-top: 2rem;
  }

  #mirrmurr-tablo-footer {
    position: relative;
  }

  /* UGRIFÜLES tabló */

  #ugrifules-tablo-main {
    background-position: center;
  }

  .ugrifules-tablo-header {
    width: 90%;
    height: 25vh;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
  }

  .ugrifules-tablo-header a img {
    margin: auto;
    height: 11vh;
  }

  #ugrifules-logoimg {
    height: 9vh;
    width: auto;
  }

  .ugrifules-tablo-header h1 {
    flex: 1 1 5rem;
    font-size: 2.8rem;
    padding: 2.5rem;
    background: url("../img/felhő1.png");
    background-size: 76%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .ugrifules-tablo-header h2 {
    font-size: 3.4rem;
    margin-bottom: 1rem;
  }

  .ugrifules-tablo-text {
    border-radius: 0;
    font-size: 1.8rem;
  }

  .ugrifules-visszbtn {
    width: calc(60% - 10px);
    margin-top: 2rem;
  }

  #ugrifules-tablo-footer {
    position: relative;
  }

  /* MISI MÓKUS tabló */
  #misimokus-tablo-main {
    background-position: center;
  }

  .misimokus-tablo-header {
    width: 90%;
    height: 25vh;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
  }

  .misimokus-tablo-header a img {
    margin: auto;
    height: 11vh;
  }

  #misimokus-logoimg {
    height: 9vh;
    width: auto;
  }

  .misimokus-tablo-header h1 {
    flex: 1 1 5rem;
    font-size: 2.8rem;
    padding: 2.5rem;
    background: url("../img/felhő1.png");
    background-size: 76%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .misimokus-tablo-header h2 {
    font-size: 3.4rem;
    margin-bottom: 1rem;
  }

  .misimokus-tablo-text {
    border-radius: 0;
    font-size: 1.8rem;
  }

  #misimokus-idézet {
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 1.5;
  }

  #misimokus-idézet-meta {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 1.5;
    font-variant: small-caps;
  }

  .misimokus-visszbtn {
    width: calc(60% - 10px);
    margin-top: 2rem;
  }

  #misimokus-tablo-footer {
    position: relative;
  }

  /* GOMBÓC ARTÚR tabló */

  #gombocartur-tablo-main {
    background-position: center;
  }

  .gombocartur-tablo-header {
    width: 90%;
    height: 25vh;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
  }

  .gombocartur-tablo-header a img {
    margin: auto;
    height: 11vh;
  }

  #gombocartur-logoimg {
    height: 9vh;
    width: auto;
  }

  .gombocartur-tablo-header h1 {
    flex: 1 1 5rem;
    font-size: 2.8rem;
    padding: 2.5rem;
    background: url("../img/felhő1.png");
    background-size: 76%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gombocartur-tablo-header h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .gombocarturtablo-card {
    align-items: center;
  }

  #gombocarturtablo-cardimg {
    width: 80vw;
    height: auto;
  }

  .gombocartur-tablo-text {
    border-radius: 0;
    font-size: 1.8rem;
  }

  #gombocartur-idézet {
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 1.5;
  }

  #gombocartur-idézet-meta {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 1.5;
    font-variant: small-caps;
  }

  .gombocartur-visszbtn {
    width: calc(60% - 10px);
    margin-top: 2rem;
  }

  #gombocartur-tablo-footer {
    position: relative;
  }

  /* TV MACI jutalom */
  .oslopfo {
    float: none;
    margin-right: auto;
  }

  strong {
    font-size: 1.5rem;
  }

  /* Mirr Murr jutalom */
  .korcsolya {
    float: none;
    margin: 1rem;
  }

  /* Ugrifüles jutalom */
  .lo {
    float: none;
    width: 25rem;
    height: auto;
    margin: auto;
  }
}
