* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  height: 80vh;
  width: auto;
  background: url("../img/hatter.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.header {
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a img {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 20rem;
          flex: 2 1 20rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

.header h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  padding: 4.5rem;
  text-align: center;
  font-size: 5rem;
  color: #1890a5;
  text-shadow: 2px 2px 2px white;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  background: url("../img/");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.header h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  font-size: 4.6rem;
  color: #1890a5;
  text-shadow: 2px 2px 2px white;
}

footer {
  background: -webkit-gradient(linear, left top, right top, from(#1890a5), to(#f0f0f0));
  background: linear-gradient(to right, #1890a5, #f0f0f0);
  color: white;
  font-family: "Passero One", cursive;
  letter-spacing: 1px;
  min-height: 7vh;
  width: 100%;
  padding: 0% 5%;
  position: absolute;
  bottom: 0;
  border-top: 5px solid #5a883d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

footer a {
  letter-spacing: 0;
  color: #1890a5;
}

footer a:hover {
  color: white;
  text-shadow: 2px 1px 1px #1890a5;
}

footer img {
  background-color: white;
  border-radius: 25%;
  height: 5vh;
  width: auto;
  border: 2px solid #1890a5;
  vertical-align: middle;
}

footer img:hover {
  -webkit-box-shadow: 2px 1px 1px #1890a5;
          box-shadow: 2px 1px 1px #1890a5;
}

.main-nav {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-content .card img {
  height: 40vh;
  width: auto;
}

.nav-title {
  color: #c63030;
}
/*# sourceMappingURL=style.css.map */