@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  height: 93vh;
  width: auto;
  background: url("../img/hatter.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.header {
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header a img {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

.header h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  padding: 4.5rem;
  text-align: center;
  font-size: 4.8rem;
  color: #1890a5;
  text-shadow: 1px 1px 1px #cc3736;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  background: url("../img/felho.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.header h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  font-size: 4.5rem;
  color: #1890a5;
  text-shadow: 2px 2px 2px white;
}

footer {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1890a5),
    to(#f0f0f0)
  );
  background: linear-gradient(to right, #1890a5, #f0f0f0);
  -webkit-box-shadow: -2px -2px 20px #1e3013;
  box-shadow: -2px -2px 20px #1e3013;
  /*background: linear-gradient(to right, #338942, #9fd8e2);*/
  color: white;
  font-family: "Passero One", cursive;
  letter-spacing: 1px;
  min-height: 7vh;
  width: 100%;
  padding: 0% 5%;
  position: absolute;
  bottom: 0;
  border-bottom: 5px solid #5a883d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

footer ul {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

footer h4 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  text-shadow: 1px 1px 1px #000000;
}

footer a,
footer li {
  letter-spacing: 0;
  /*color: #1890a5;*/
  color: #ffffff;
  text-shadow: 1px 1px 1px #11658bbe;
  font-family: "Passero One", cursive;
}

footer a:hover {
  color: white;
  text-shadow: 2px 1px 1px #1890a5;
}

footer img {
  background-color: white;
  border-radius: 25%;
  height: 5vh;
  width: auto;
  border: 2px solid #1890a5;
  vertical-align: middle;
}

footer img:hover {
  -webkit-box-shadow: 2px 1px 1px #1890a5;
  box-shadow: 2px 1px 1px #1890a5;
}

.main-nav {
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 85vw;
  margin: 7.5rem auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card img {
  height: 48vh;
  width: auto;
  /*animation: img-shake 1.5s ease-in-out 0.5s infinite,
    img-shake 2.5s infinite ease alternate-reverse 2s;*/
  -webkit-animation: img-shake 3s ease infinite alternate;
  animation: img-shake 3s ease infinite alternate;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

@-webkit-keyframes img-shake {
  from {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
}

@keyframes img-shake {
  from {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
}

.nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
}

.nav-title {
  color: #c63030;
  font-size: 5rem;
  font-family: "Passero One", cursive;
  text-shadow: 1px 1px 2px #1890a5;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav-title:hover {
  color: #1890a5;
  font-size: 6rem;
  font-family: "Passero One", cursive;
  text-shadow: 1.5px 1px 2px #c63030;
}

#kiallitas-main {
  width: 100%;
  height: auto;
  background-position: left;
}

#kiallitas-footer {
  position: relative;
  bottom: 0;
}

.kiallitas-content {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 2rem 1rem;
  /*;background-color: rgba(255, 255, 255, 0.37);*/
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1890a538),
    to(#ffffffc2)
  );
  background: linear-gradient(to bottom, #1890a538, #ffffffc2);
  border-radius: 3%;
}

.kiallitas-content p {
  font-size: 1.6rem;
  padding: 1rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.img-right {
  position: relative;
  width: 50%;
  height: auto;
  float: right;
  padding: 1vw;
}

.img-left {
  position: relative;
  width: 50%;
  height: auto;
  float: left;
  padding: 1vw;
}

.kiallitas-meta {
  padding: 3rem;
  font-size: 1.8rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.kiallitas-cim {
  text-align: right;
  padding: 3rem;
  font-size: 1.6rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
}

strong {
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
}

.mesehosok-header {
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mesehosok-header a img {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

.mesehosok-header h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  padding: 4.5rem;
  text-align: center;
  font-size: 4.8rem;
  color: #1890a5;
  text-shadow: 1px 1px 1px #cc3736;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  background: url("../img/felho.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.mesehosok-header h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Teko", sans-serif;
  font-size: 4.5rem;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #1890a5;
  text-shadow: 0.5px 0.5px 0.5px #ffffff;
}

.mesehosok-info {
  width: 90%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.kocka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  background-color: burlywood;
  text-align: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  border-radius: 25%;
  border: 1px solid #1890a5;
  text-shadow: -1px 0 #1890a5, 0 1.5px #1890a5, 1px 0 #1890a5, 0 -1.5px #1890a5;
}

.kocka:hover {
  width: 22rem;
  height: 22rem;
  color: #1890a5;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

.retromesek {
  background: url("../img/felhő1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  font-size: 2.5rem;
  color: #1890a5;
  text-shadow: none;
}

.retromesek:hover {
  color: #cc3736;
}

.tvmaci {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.4)),
      to(rgba(37, 150, 170, 0.7))
    ),
    url("../img/tvmacif.jpg");
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/tvmacif.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.mirrmurr {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.4)),
      to(rgba(37, 150, 170, 0.7))
    ),
    url("../img/mirrmurrf.jpg");
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/mirrmurrf.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ugrifules {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.4)),
      to(rgba(37, 150, 170, 0.7))
    ),
    url("../img/ufrifulesf.jpg");
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/ufrifulesf.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.misimokus {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.4)),
      to(rgba(37, 150, 170, 0.7))
    ),
    url("../img/misimokusf.jpg");
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/misimokusf.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.fokyotto {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.4)),
      to(rgba(37, 150, 170, 0.7))
    ),
    url("../img/misimokusf.jpg");
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/misimokusf.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.pompom {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.4)),
      to(rgba(37, 150, 170, 0.7))
    ),
    url("../img/gombocartur.png");
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/gombocartur.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.csukasistvan {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.4)),
      to(rgba(37, 150, 170, 0.7))
    ),
    url("../img/csukasistvan.jpg");
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/csukasistvan.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.sajdikferenc {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.4)),
      to(rgba(37, 150, 170, 0.7))
    ),
    url("../img/sajdikferenc.jpg");
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/sajdikferenc.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.benedekelek {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.4)),
      to(rgba(37, 150, 170, 0.7))
    ),
    url("../img/benedekelek.jpg");
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(37, 150, 170, 0.7) 100%
    ),
    url("../img/benedekelek.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5rem;
}

.bevezeto {
  width: 85%;
  margin: auto;
  font-size: 2rem;
  padding-top: 2.5rem;
  color: #0d3d46;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.utasitas {
  width: 85%;
  margin: auto;
  font-size: 1.8rem;
  padding-top: 2.5rem;
  color: #0d3d46;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

#main-nav {
  width: 100%;
  height: auto;
  background-position: left;
}

footer {
  position: relative;
  bottom: 0;
}

.jatek-bev-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 70vw;
  margin: 1rem auto;
}

.cardj img {
  height: 35vh;
  width: auto;
  /*animation: img-shake 1.5s ease-in-out 0.5s infinite,
      img-shake 2.5s infinite ease alternate-reverse 2s;*/
  -webkit-animation: img-shake 3s ease infinite alternate;
  animation: img-shake 3s ease infinite alternate;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  padding-bottom: 3.5rem;
}

@keyframes img-shake {
  from {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
}

* {
  margin: 0px;
  padding: 0px;
  font: 16px "Source Sans Pro", sans-serif;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  display: table;
  font-size: 62.5%;
}

body {
  display: table-cell;
  vertical-align: middle;
}

#tvmacikvizheader {
  width: 100%;
  height: 20vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#tvmacikvizheader a img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 10rem;
  flex: 1 1 10rem;
  margin: auto;
  height: 12vh;
  width: auto;
}

#quiz {
  margin: -44px 50px 0px;
  position: relative;
  width: calc(100% - 100px);
}

#tv-maci-cim {
  font-size: 8rem;
  color: #1890a5;
  font-family: "Passero One", cursive;
  text-shadow: 1px 1px 1px #cc3736;
}

#tvmaci-bev {
  font-size: 2rem;
  color: #0f4c57;
  font-family: "Montserrat", sans-serif;
  margin: 3rem auto;
}

.tvmacitipp {
  -webkit-animation: img-shake 3s ease infinite alternate;
  animation: img-shake 3s ease infinite alternate;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

#quiz h1 {
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 44px;
  margin: 1rem;
  font-family: "Passero One", cursive;
  color: #1890a5;
  text-shadow: 1px 1px 1px #cc3736;
}

#quiz button {
  float: right;
  margin: 10px 0px 0px 10px;
  padding: 8px 15px;
  background: #9acfcc;
  color: #00403c;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 9999px;
}

#quiz button:hover {
  background: #36a39c;
  color: #fff;
}

#quiz button:disabled {
  opacity: 0.5;
  background: #9acfcc;
  color: #00403c;
  cursor: default;
}

#question {
  padding: 2rem;
  background: #fafafa;
  -webkit-box-shadow: 1px 1px 5px #1890a5;
  box-shadow: 1px 1px 5px #1890a5;
}

#question h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 2rem;
  color: #1890a5;
  font-family: "Montserrat", sans-serif;
}

#question input[type="radio"] {
  display: none;
}

#question label {
  display: inline-block;
  margin: 4px;
  padding: 8px;
  background: #c9e9f2;
  color: #07276b;
  width: calc(50% - 8px);
  min-width: 100px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border-radius: 9999px;
  font-size: 2rem;
}

#question label:hover {
  background: #4ba1b1;
  color: white;
}

#question input[type="radio"]:checked + label {
  background: #4176ba;
  color: #fafafa;
}

#tvm-quiz-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 44px;
  left: 0px;
  background: #c9e9f2;
  width: 100%;
  height: calc(100% - 44px);
  -webkit-box-shadow: 10px 10px 10px #31706c;
  box-shadow: 10px 10px 10px #31706c;
  border: 3px solid #188785;
}

#tvm-quiz-results-message {
  display: block;
  color: #188785;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}

#tvm-quiz-results-score {
  display: block;
  color: #188785;
  font-size: 2rem;
}

#tvm-quiz-results-score b {
  color: #188785;
  font-weight: 600;
  font-size: 2rem;
}

#again-question-button a {
  color: #00403c;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0;
}

#again-question-button a:hover {
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
  font: 16px "Source Sans Pro", sans-serif;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: url("../img/hatter.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 100%;
}

html {
  display: table;
  font-size: 62.5%;
}

body {
  display: table-cell;
  vertical-align: middle;
}

#tvmacikvizheader {
  width: 100%;
  height: 20vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#tvmacikvizheader a img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 10rem;
  flex: 1 1 10rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

#quiz {
  margin: -44px 50px 0px;
  position: relative;
  width: calc(100% - 100px);
}

#tv-maci-cim {
  font-size: 8rem;
  color: #1890a5;
  font-family: "Passero One", cursive;
  text-shadow: 1px 1px 1px #cc3736;
}

#tvmaci-bev {
  font-size: 2rem;
  color: #0f4c57;
  font-family: "Montserrat", sans-serif;
  margin: 3rem auto;
}

.tvmacitipp {
  -webkit-animation: img-shake 3s ease infinite alternate;
  animation: img-shake 3s ease infinite alternate;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

#quiz h1 {
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 44px;
  margin: 1rem;
  font-family: "Passero One", cursive;
  color: #1890a5;
  text-shadow: 1px 1px 1px #cc3736;
}

#quiz button {
  float: right;
  margin: 10px 0px 0px 10px;
  padding: 8px 15px;
  background: #9acfcc;
  color: #00403c;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 9999px;
}

#quiz button:hover {
  background: #36a39c;
  color: #fff;
}

#quiz button:disabled {
  opacity: 0.5;
  background: #9acfcc;
  color: #00403c;
  cursor: default;
}

#question {
  padding: 2rem;
  background: #fafafa;
  -webkit-box-shadow: 1px 1px 5px #1890a5;
  box-shadow: 1px 1px 5px #1890a5;
}

#question h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 2rem;
  color: #1890a5;
  font-family: "Montserrat", sans-serif;
}

#question input[type="radio"] {
  display: none;
}

#question label {
  display: inline-block;
  margin: 4px;
  padding: 8px;
  background: #c9e9f2;
  color: #07276b;
  width: calc(50% - 8px);
  min-width: 100px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border-radius: 9999px;
}

#question label:hover {
  background: #4ba1b1;
  color: white;
}

#question input[type="radio"]:checked + label {
  background: #4176ba;
  color: #fafafa;
}

#quiz-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 44px;
  left: 0px;
  background: #fafafa;
  width: 100%;
  height: calc(100% - 44px);
}

#quiz-results-message {
  display: block;
  color: #00403c;
  font-size: 2rem;
  font-weight: bold;
}

#quiz-results-score {
  display: block;
  color: #31706c;
  font-size: 2rem;
}

#quiz-results-score b {
  color: #00403c;
  font-weight: 600;
  font-size: 2rem;
}

#gombocartur-kviz-footer {
  position: fixed;
  bottom: 0;
}

* {
  margin: 0px;
  padding: 0px;
  font: 16px "Source Sans Pro", sans-serif;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: url("../img/hatter.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

html {
  display: table;
  font-size: 62.5%;
}

body {
  display: table-cell;
  vertical-align: middle;
}

#ugrifuleskvizheader {
  width: 100%;
  height: 20vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#ugrifuleskvizheader a img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 10rem;
  flex: 1 1 10rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

#quiz {
  margin: -44px 50px 0px;
  position: relative;
  width: calc(100% - 100px);
}

#ugrifules-cim {
  font-size: 8rem;
  color: #1890a5;
  font-family: "Passero One", cursive;
  text-shadow: 1px 1px 1px #cc3736;
}

#tvmaci-bev {
  font-size: 2rem;
  color: #0f4c57;
  font-family: "Montserrat", sans-serif;
  margin: 3rem auto;
}

.tvmacitipp {
  -webkit-animation: img-shake 3s ease infinite alternate;
  animation: img-shake 3s ease infinite alternate;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

#quiz h1 {
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 44px;
  margin: 1rem;
  font-family: "Passero One", cursive;
  color: #1890a5;
  text-shadow: 1px 1px 1px #cc3736;
}

#quiz button {
  float: right;
  margin: 10px 0px 0px 10px;
  padding: 8px 15px;
  background: #9acfcc;
  color: #00403c;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 9999px;
}

#quiz button:hover {
  background: #36a39c;
  color: #fff;
}

#quiz button:disabled {
  opacity: 0.5;
  background: #9acfcc;
  color: #00403c;
  cursor: default;
}

#question {
  padding: 2rem;
  background: #fafafa;
  -webkit-box-shadow: 1px 1px 5px #1890a5;
  box-shadow: 1px 1px 5px #1890a5;
}

#question h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 2rem;
  color: #1890a5;
  font-family: "Montserrat", sans-serif;
}

#question input[type="radio"] {
  display: none;
}

#question label {
  display: inline-block;
  margin: 4px;
  padding: 8px;
  background: #c9e9f2;
  color: #07276b;
  width: calc(50% - 8px);
  min-width: 100px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border-radius: 9999px;
}

#question label:hover {
  background: #4ba1b1;
  color: white;
}

#question input[type="radio"]:checked + label {
  background: #4176ba;
  color: #fafafa;
}

#quiz-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 44px;
  left: 0px;
  background: #fafafa;
  width: 100%;
  height: calc(100% - 44px);
}

#quiz-results-message {
  display: block;
  color: #00403c;
  font-size: 2rem;
  font-weight: bold;
}

#quiz-results-score {
  display: block;
  color: #31706c;
  font-size: 2rem;
}

#quiz-results-score b {
  color: #00403c;
  font-weight: 600;
  font-size: 2rem;
}

#rolunk-main {
  width: 100%;
  height: auto;
  background-position: left;
}

#rolunk-footer {
  position: relative;
  bottom: 0;
}

.rolunk-header {
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rolunk-header a img {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

.rolunk-header h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  padding: 4.5rem;
  text-align: center;
  font-size: 3.6rem;
  color: #1890a5;
  text-shadow: 1px 1px 1px #cc3736;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  background: url("../img/felho.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.rolunk-header h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  font-size: 3rem;
  color: #1890a5;
  text-shadow: 1px 1px 1px white;
  padding-right: 5rem;
}

#rolunk-content {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 2rem 1rem;
  /*;background-color: rgba(255, 255, 255, 0.37);*/
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1890a538),
    to(#ffffffc2)
  );
  background: linear-gradient(to bottom, #1890a538, #ffffffc2);
  border-radius: 3%;
}

.rolunk-mese p {
  font-size: 1.6rem;
  padding: 1rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.img-right {
  position: relative;
  width: 50%;
  height: auto;
  float: right;
  padding: 1vw;
}

.img-left {
  position: relative;
  width: 50%;
  height: auto;
  float: left;
  padding: 1vw;
}

.mata-img {
  position: relative;
  width: 30%;
  height: auto;
  float: left;
  padding: 1vw;
}

#rolunk-szerzo {
  text-align: right;
  font-size: 1.8rem;
}

#tvmaci-tablo-main {
  width: 100%;
  height: auto;
  background-position: left;
}

#kiallitas-footer {
  position: relative;
  bottom: 0;
}

.tvmaci-tablo-header {
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tvmaci-tablo-header a img {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

.tvmaci-tablo-header h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  padding: 4.5rem;
  text-align: center;
  font-size: 4.8rem;
  color: #1890a5;
  text-shadow: 1px 1px 1px #cc3736;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  background: url("../img/felho.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.tvmaci-tablo-header h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  font-size: 4.5rem;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #1890a5;
  text-shadow: 0.5px 0.5px 0.5px #ffffff;
}

#tvmaci-tablo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

.tvmaci-tablo-text {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  width: 90%;
  height: auto;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /*;background-color: rgba(255, 255, 255, 0.37);*/
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1890a538),
    to(#ffffffc2)
  );
  background: linear-gradient(to bottom, #1890a538, #ffffffc2);
  border-radius: 3%;
}

.tvmacitablo-card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}

.tvmaci-tablo-text p {
  font-size: 1.6rem;
  padding: 1rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  line-height: 1.5;
}

.cardtablo img {
  height: 70vh;
  width: auto;
  /*animation: img-shake 1.5s ease-in-out 0.5s infinite,
        img-shake 2.5s infinite ease alternate-reverse 2s;*/
  -webkit-animation: img-shake 3s ease infinite alternate;
  animation: img-shake 3s ease infinite alternate;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  padding-bottom: 3.5rem;
}

@keyframes img-shake {
  from {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
}

#tvmaci-tablo-footer {
  position: absolute;
  bottom: 0;
}

.tvmaci-visszbtn {
  display: block;
  font-size: 2.4rem;
  font-family: "Passero One", cursive;
  margin-top: 2rem;
  background: #9acfcc;
  color: #1890a5;
  border-radius: 9999px;
  padding: 1rem;
  text-shadow: 1px 1px 1px white;
  width: calc(30% - 10px);
  margin: auto;
}

.tvmaci-visszbtn:hover {
  background: #1c9db4;
  color: white;
  text-shadow: 2px 2px 2px #106270;
  -webkit-box-shadow: 2px 2px 2px #106270;
  box-shadow: 2px 2px 2px #106270;
}

#mirrmurr-tablo-main {
  width: 100%;
  height: auto;
  background-position: left;
}

.mirrmurr-tablo-header {
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mirrmurr-tablo-header a img {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

.mirrmurr-tablo-header h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  padding: 4.5rem;
  text-align: center;
  font-size: 4.8rem;
  color: #1890a5;
  text-shadow: 1px 1px 1px #cc3736;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  background: url("../img/felho.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.mirrmurr-tablo-header h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  font-size: 4.5rem;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #1890a5;
  text-shadow: 0.5px 0.5px 0.5px #ffffff;
}

#mirrmurr-tablo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

.mirrmurr-tablo-text {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  width: 90%;
  height: auto;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /*;background-color: rgba(255, 255, 255, 0.37);*/
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1890a538),
    to(#ffffffc2)
  );
  background: linear-gradient(to bottom, #1890a538, #ffffffc2);
  border-radius: 3%;
}

.mirrmurrtablo-card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}

.mirrmurr-tablo-text p {
  font-size: 1.6rem;
  padding: 1rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  line-height: 1.5;
}

.cardtablo img {
  height: 70vh;
  width: auto;
  /*animation: img-shake 1.5s ease-in-out 0.5s infinite,
          img-shake 2.5s infinite ease alternate-reverse 2s;*/
  -webkit-animation: img-shake 3s ease infinite alternate;
  animation: img-shake 3s ease infinite alternate;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  padding-bottom: 3.5rem;
}

@keyframes img-shake {
  from {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
}

#mirrmurr-tablo-footer {
  position: fixed;
  bottom: 0;
}

.mirrmurr-visszbtn {
  display: block;
  font-size: 2.4rem;
  font-family: "Passero One", cursive;
  margin-top: 2rem;
  background: #9acfcc;
  color: #1890a5;
  border-radius: 9999px;
  padding: 1rem;
  text-shadow: 1px 1px 1px white;
  width: calc(30% - 10px);
  margin: auto;
}

.mirrmurr-visszbtn:hover {
  background: #1c9db4;
  color: white;
  text-shadow: 2px 2px 2px #106270;
  -webkit-box-shadow: 2px 2px 2px #106270;
  box-shadow: 2px 2px 2px #106270;
}

#ugrifules-tablo-main {
  width: 100%;
  height: auto;
  background-position: left;
}

.ugrifules-tablo-header {
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ugrifules-tablo-header a img {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

.ugrifules-tablo-header h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  padding: 4.5rem;
  text-align: center;
  font-size: 4.8rem;
  color: #1890a5;
  text-shadow: 1px 1px 1px #cc3736;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  background: url("../img/felho.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.ugrifules-tablo-header h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  font-size: 4.5rem;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #1890a5;
  text-shadow: 0.5px 0.5px 0.5px #ffffff;
}

#ugrifules-tablo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

.ugrifules-tablo-text {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  width: 90%;
  height: auto;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /*;background-color: rgba(255, 255, 255, 0.37);*/
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1890a538),
    to(#ffffffc2)
  );
  background: linear-gradient(to bottom, #1890a538, #ffffffc2);
  border-radius: 3%;
}

.ugrifulestablo-card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}

.ugrifules-tablo-text p {
  font-size: 1.6rem;
  padding: 1rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  line-height: 1.5;
}

.cardtablo img {
  height: 70vh;
  width: auto;
  /*animation: img-shake 1.5s ease-in-out 0.5s infinite,
          img-shake 2.5s infinite ease alternate-reverse 2s;*/
  -webkit-animation: img-shake 3s ease infinite alternate;
  animation: img-shake 3s ease infinite alternate;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  padding-bottom: 3.5rem;
}

@keyframes img-shake {
  from {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
}

#ugrifules-tablo-footer {
  position: absolute;
  bottom: 0;
}

.ugrifules-visszbtn {
  display: block;
  font-size: 2.4rem;
  font-family: "Passero One", cursive;
  margin-top: 2rem;
  background: #9acfcc;
  color: #1890a5;
  border-radius: 9999px;
  padding: 1rem;
  text-shadow: 1px 1px 1px white;
  width: calc(30% - 10px);
  margin: auto;
}

.ugrifules-visszbtn:hover {
  background: #1c9db4;
  color: white;
  text-shadow: 2px 2px 2px #106270;
  -webkit-box-shadow: 2px 2px 2px #106270;
  box-shadow: 2px 2px 2px #106270;
}

#misimokus-tablo-main {
  width: 100%;
  height: auto;
  background-position: left;
}

.misimokus-tablo-header {
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.misimokus-tablo-header a img {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

.misimokus-tablo-header h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  padding: 4.5rem;
  text-align: center;
  font-size: 4.8rem;
  color: #1890a5;
  text-shadow: 1px 1px 1px #cc3736;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  background: url("../img/felho.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.misimokus-tablo-header h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  font-size: 4.5rem;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #1890a5;
  text-shadow: 0.5px 0.5px 0.5px #ffffff;
}

#misimokus-tablo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

.misimokus-tablo-text {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  width: 90%;
  height: auto;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /*;background-color: rgba(255, 255, 255, 0.37);*/
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1890a538),
    to(#ffffffc2)
  );
  background: linear-gradient(to bottom, #1890a538, #ffffffc2);
  border-radius: 3%;
}

.misimokustablo-card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}

.misimokus-tablo-text p {
  font-size: 1.6rem;
  padding: 1rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  line-height: 1.5;
}

#misimokus-idézet {
  font-size: 1.5rem;
  padding: 1rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-align: center;
}

#misimokus-idézet-meta {
  font-size: 1.5rem;
  padding: 1rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-align: center;
  font-variant: small-caps;
}

.cardtablo img {
  height: 70vh;
  width: auto;
  /*animation: img-shake 1.5s ease-in-out 0.5s infinite,
          img-shake 2.5s infinite ease alternate-reverse 2s;*/
  -webkit-animation: img-shake 3s ease infinite alternate;
  animation: img-shake 3s ease infinite alternate;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  padding-bottom: 3.5rem;
}

@keyframes img-shake {
  from {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
}

#misimokus-tablo-footer {
  position: relative;
  bottom: 0;
}

.misimokus-visszbtn {
  display: block;
  font-size: 2.4rem;
  font-family: "Passero One", cursive;
  margin-top: 2rem;
  background: #9acfcc;
  color: #1890a5;
  border-radius: 9999px;
  padding: 1rem;
  text-shadow: 1px 1px 1px white;
  width: calc(30% - 10px);
  margin: auto;
}

.misimokus-visszbtn:hover {
  background: #1c9db4;
  color: white;
  text-shadow: 2px 2px 2px #106270;
  -webkit-box-shadow: 2px 2px 2px #106270;
  box-shadow: 2px 2px 2px #106270;
}

#gombocartur-tablo-main {
  width: 100%;
  height: auto;
  background-position: left;
}

.gombocartur-tablo-header {
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gombocartur-tablo-header a img {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  margin: 0rem 5rem;
  height: 12vh;
  width: auto;
}

.gombocartur-tablo-header h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  padding: 4.5rem;
  text-align: center;
  font-size: 4.8rem;
  color: #1890a5;
  text-shadow: 1px 1px 1px #cc3736;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  background: url("../img/felho.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.gombocartur-tablo-header h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  font-family: "Passero One", cursive;
  font-size: 4.5rem;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #1890a5;
  text-shadow: 0.5px 0.5px 0.5px #ffffff;
}

#gombocartur-tablo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

.gombocartur-tablo-text {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 20rem;
  flex: 2 1 20rem;
  width: 90%;
  height: auto;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /*;background-color: rgba(255, 255, 255, 0.37);*/
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1890a538),
    to(#ffffffc2)
  );
  background: linear-gradient(to bottom, #1890a538, #ffffffc2);
  border-radius: 3%;
}

.gombocarturtablo-card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}

.gombocartur-tablo-text p {
  font-size: 1.6rem;
  padding: 1rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  line-height: 1.5;
}

#gombocartur-idezet {
  font-size: 1.5rem;
  padding: 1rem;
  color: #11525e;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-align: center;
}

.cardtablo img {
  height: 70vh;
  width: auto;
  /*animation: img-shake 1.5s ease-in-out 0.5s infinite,
          img-shake 2.5s infinite ease alternate-reverse 2s;*/
  -webkit-animation: img-shake 3s ease infinite alternate;
  animation: img-shake 3s ease infinite alternate;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  padding-bottom: 3.5rem;
}

@keyframes img-shake {
  from {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
}

#gombocartur-tablo-footer {
  position: relative;
}

.gombocartur-visszbtn {
  display: block;
  font-size: 2.4rem;
  font-family: "Passero One", cursive;
  margin-top: 2rem;
  background: #9acfcc;
  color: #1890a5;
  border-radius: 9999px;
  padding: 1rem;
  text-shadow: 1px 1px 1px white;
  width: calc(30% - 10px);
  margin: auto;
}

.gombocartur-visszbtn:hover {
  background: #1c9db4;
  color: white;
  text-shadow: 2px 2px 2px #106270;
  -webkit-box-shadow: 2px 2px 2px #106270;
  box-shadow: 2px 2px 2px #106270;
}

@media screen and (max-width: 1382px) {
  .nav-content {
    width: 95vw;
    margin: 3.5rem auto;
  }
}

@media screen and (max-width: 1234px) {
  .card img {
    height: 40vh;
  }
  .nav-title {
    font-size: 4rem;
  }
  .nav-title:hover {
    font-size: 4.5rem;
  }
  .header h2 {
    text-align: center;
    padding: 2rem;
  }
}

@media screen and (max-width: 1080px) {
  footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;
  }
  footer a,
  li {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1014px) {
  main {
    height: auto;
    width: 100%;
  }
  .nav-content {
    margin: 0 auto;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer {
    position: relative;
    bottom: 0;
  }
}

@media screen and (max-width: 650px) {
  .header h1 {
    background-size: 75%;
  }
  footer a,
  li {
    color: #0d606b;
    text-shadow: 1px 1px 1px #f7f7f7be;
  }
}

@media screen and (max-width: 612px) {
  #logo {
    padding-top: 2vh;
  }
  .header h1 {
    background-size: 70%;
  }
}

@media screen and (max-width: 467px) {
  .header a img {
    height: 10vh;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 5rem;
    flex: 1 1 5rem;
    margin: 0 2rem;
  }
  .header h1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 10rem;
    flex: 1 1 10rem;
    font-size: 2.8rem;
    padding: 2rem;
    background: url("../img/felhő1.png");
    background-size: 78%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header h2 {
    font-size: 2.8rem;
    text-shadow: 1px 1px 1px white;
    padding: 1rem;
  }
  .nav-title {
    font-size: 3.8rem;
  }
  .nav-title:hover {
    font-size: 4rem;
  }
  footer h4 {
    font-size: 1.8rem;
    padding: 0.5rem 0;
  }
  footer a,
  li {
    font-size: 1.8rem;
  }
  footer li {
    padding: 0.5vh;
  }
  /* Kiallitas aloldal */
  .kiallitas-content {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 1rem 1rem;
    /*;background-color: rgba(255, 255, 255, 0.37);*/
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#1890a538),
      to(#ffffffc2)
    );
    background: linear-gradient(to bottom, #1890a538, #ffffffc2);
    border-radius: 0%;
  }
  .kiallitas-content p {
    font-size: 1.6rem;
    padding: 0.5rem;
  }
  .kiallitas-meta {
    font-size: 1.2rem;
    font-variant: small-caps;
    font-weight: normal;
    padding: 1.5rem;
  }
  .kiallitas-cím {
    text-align: right;
    font-size: 1.4rem;
    padding: 1.5rem;
  }
  .img-right {
    position: relative;
    width: 100%;
    height: auto;
    float: none;
    margin: auto;
  }
  .img-left {
    position: relative;
    width: 100%;
    height: auto;
    float: none;
    margin: auto;
  }
  strong {
    font-size: 1.2rem;
  }
  /* JÁTÉK  bevezető aloldal */
  .bevezeto {
    width: 85%;
    margin: auto;
    font-size: 1.8rem;
    padding-top: 2rem;
    line-height: 1.2;
  }
  .jatek-bev-content {
    width: 90vw;
    margin: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .cardj img {
    height: 20vh;
    width: auto;
    /*animation: img-shake 1.5s ease-in-out 0.5s infinite,
        img-shake 2.5s infinite ease alternate-reverse 2s;*/
    -webkit-animation: img-shake 3s ease infinite alternate;
    animation: img-shake 3s ease infinite alternate;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    padding-bottom: 0rem;
  }
  .utasitas {
    font-size: 1.6rem;
    padding-bottom: 3rem;
    font-weight: 600;
  }
  /* Rólunk bevezető aloldal */
  #rolunk-main {
    background-position: center;
  }
  #rolunk-content {
    border-radius: 0%;
  }
  .rolunk-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .rolunk-header a img {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 5rem;
    flex: 1 1 5rem;
    margin: 0rem 2rem;
    height: 10vh;
    width: auto;
  }
  .rolunk-header h1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 10rem;
    flex: 1 1 10rem;
    padding: 2rem;
    text-align: center;
    font-size: 2.8rem;
    background: url("../img/felhő1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .rolunk-header h2 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
    flex: 1 1 30rem;
    font-family: "Passero One", cursive;
    font-size: 2.4rem;
    padding: 2rem;
    text-align: center;
  }
  .mata-img {
    width: 100%;
  }
  #rolunk-szerzo {
    font-size: 1.6rem;
  }
  /* Mesehősök és alkotóik */
  .mesehosok-header a img {
    height: 10vh;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 5rem;
    flex: 1 1 5rem;
    margin: 0 2rem;
  }
  .mesehosok-header h1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 10rem;
    flex: 1 1 10rem;
    font-size: 2.8rem;
    margin-top: 1rem;
    padding: 2rem;
    background: url("../img/felhő1.png");
    background-size: 78%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mesehosok-header h2 {
    font-size: 3.5rem;
    text-shadow: 1px 1px 1px white;
    padding: 1rem;
  }
  .retromesek {
    height: 15rem;
  }
  .retromesek:hover {
    height: 18rem;
  }
  /* Tv Maci kvíz */
  #tvmacikvizheader {
    width: 100%;
    height: 15vh;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
  }
  #tvmaci-logo {
    height: 10vh;
    width: auto;
  }
  #tvmacikvizheader a img {
    margin: auto;
    height: 11vh;
  }
  #tvmaci-logoimg {
    height: 9vh;
    width: auto;
  }
  #tv-maci-cim {
    font-size: 3.4rem;
  }
  #tvmaci-bev {
    font-size: 1.6rem;
    line-height: 1.5;
    width: 95%;
  }
  #quiz {
    width: 90%;
    margin: auto;
  }
  #question h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  #question label {
    margin: 4px;
    padding: 9px;
    width: calc(50% - 8px);
    min-width: 100px;
    border-radius: 9999px;
    font-size: 1.5rem;
  }
  #quiz button {
    display: block;
    float: none;
    margin: 1.5rem auto;
    padding: 10px 15px;
  }
  #prev-question-button {
    margin-bottom: 2rem;
  }
  #tvm-quiz-results {
    height: 80%;
  }
  #quiz-results {
    height: 80%;
  }
  #tvmaci-footer {
    position: absolute;
    bottom: 0px;
  }
  /* A legkisebb ugrifüles kvíz */
  #ugrifuleskvizheader {
    width: 100%;
    height: 15vh;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 1rem auto;
  }
  #ugrifuleskvizheader a img {
    margin: auto;
    height: 10vh;
  }
  #ugrifules-cim {
    word-wrap: break-word;
    width: 13rem;
    font-size: 3.2rem;
  }
  /* TV Maci tabló */
  #tvmaci-tablo-main {
    background-position: center;
  }
  .tvmaci-tablo-header {
    width: 90%;
    height: 15vh;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 2rem auto;
  }
  .tvmaci-tablo-header a img {
    margin: auto;
    height: 11vh;
  }
  #tvmaci-logoimg {
    height: 9vh;
    width: auto;
  }
  .tvmaci-tablo-header h1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 5rem;
    flex: 1 1 5rem;
    font-size: 2.8rem;
    padding: 2.5rem;
    background: url("../img/felhő1.png");
    background-size: 76%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .tvmaci-tablo-header h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .tvmaci-tablo-text {
    border-radius: 0;
    font-size: 1.8rem;
  }
  .tvmaci-visszbtn {
    width: calc(60% - 10px);
    margin-top: 2rem;
  }
  #tvmaci-tablo-footer {
    position: relative;
  }
  /* Gombóc Artúr kvíz */
  #gombocartur-kviz-footer {
    position: relative;
  }
  /* Mirr-Murr tabló */
  #mirrmurr-tablo-main {
    background-position: center;
  }
  .mirrmurr-tablo-header {
    width: 90%;
    height: 15vh;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 2rem auto;
  }
  .mirrmurr-tablo-header a img {
    margin: auto;
    height: 11vh;
  }
  #mirrmurr-logoimg {
    height: 9vh;
    width: auto;
  }
  .mirrmurr-tablo-header h1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 5rem;
    flex: 1 1 5rem;
    font-size: 2.8rem;
    padding: 2.5rem;
    background: url("../img/felhő1.png");
    background-size: 76%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mirrmurr-tablo-header h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .mirrmurr-tablo-text {
    border-radius: 0;
    font-size: 1.8rem;
  }
  .mirrmurr-visszbtn {
    width: calc(60% - 10px);
    margin-top: 2rem;
  }
  #mirrmurr-tablo-footer {
    position: relative;
  }
  /* UGRIFÜLES tabló */
  #ugrifules-tablo-main {
    background-position: center;
  }
  .ugrifules-tablo-header {
    width: 90%;
    height: 25vh;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem auto;
  }
  .ugrifules-tablo-header a img {
    margin: auto;
    height: 11vh;
  }
  #ugrifules-logoimg {
    height: 9vh;
    width: auto;
  }
  .ugrifules-tablo-header h1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 5rem;
    flex: 1 1 5rem;
    font-size: 2.8rem;
    padding: 2.5rem;
    background: url("../img/felhő1.png");
    background-size: 76%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .ugrifules-tablo-header h2 {
    font-size: 3.4rem;
    margin-bottom: 1rem;
  }
  .ugrifules-tablo-text {
    border-radius: 0;
    font-size: 1.8rem;
  }
  .ugrifules-visszbtn {
    width: calc(60% - 10px);
    margin-top: 2rem;
  }
  #ugrifules-tablo-footer {
    position: relative;
  }
  /* MISI MÓKUS tabló */
  #misimokus-tablo-main {
    background-position: center;
  }
  .misimokus-tablo-header {
    width: 90%;
    height: 25vh;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem auto;
  }
  .misimokus-tablo-header a img {
    margin: auto;
    height: 11vh;
  }
  #misimokus-logoimg {
    height: 9vh;
    width: auto;
  }
  .misimokus-tablo-header h1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 5rem;
    flex: 1 1 5rem;
    font-size: 2.8rem;
    padding: 2.5rem;
    background: url("../img/felhő1.png");
    background-size: 76%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .misimokus-tablo-header h2 {
    font-size: 3.4rem;
    margin-bottom: 1rem;
  }
  .misimokus-tablo-text {
    border-radius: 0;
    font-size: 1.8rem;
  }
  #misimokus-idézet {
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 1.5;
  }
  #misimokus-idézet-meta {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 1.5;
    font-variant: small-caps;
  }
  .misimokus-visszbtn {
    width: calc(60% - 10px);
    margin-top: 2rem;
  }
  #misimokus-tablo-footer {
    position: relative;
  }
  /* GOMBÓC ARTÚR tabló */
  #gombocartur-tablo-main {
    background-position: center;
  }
  .gombocartur-tablo-header {
    width: 90%;
    height: 25vh;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem auto;
  }
  .gombocartur-tablo-header a img {
    margin: auto;
    height: 11vh;
  }
  #gombocartur-logoimg {
    height: 9vh;
    width: auto;
  }
  .gombocartur-tablo-header h1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 5rem;
    flex: 1 1 5rem;
    font-size: 2.8rem;
    padding: 2.5rem;
    background: url("../img/felhő1.png");
    background-size: 76%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .gombocartur-tablo-header h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .gombocarturtablo-card {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #gombocarturtablo-cardimg {
    width: 80vw;
    height: auto;
  }
  .gombocartur-tablo-text {
    border-radius: 0;
    font-size: 1.8rem;
  }
  #gombocartur-idézet {
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 1.5;
  }
  #gombocartur-idézet-meta {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 1.5;
    font-variant: small-caps;
  }
  .gombocartur-visszbtn {
    width: calc(60% - 10px);
    margin-top: 2rem;
  }
  #gombocartur-tablo-footer {
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */
